# Ignorer tous les fichiers natifs
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored

# Ignorer les fichiers de build ou auto-générés
build/** linguist-vendored

# Ignorer tous les fichiers CMake et similaires
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored

# Ignorer les fichiers C/C++
*.cpp linguist-vendored
*.h linguist-vendored
*.c linguist-vendored
*.cc linguist-vendored

# Ignorer Objective-C
*.m linguist-vendored
*.mm linguist-vendored

# Forcer Dart à être reconnu
*.dart linguist-language=Dart
